[class*='col-']{
    padding-left: 0;
    padding-right: 0;
}
#li1 li{
    width: auto;
    float: left;
    list-style: none;
    padding: 5px;
    color: cadetblue;
}
img{
    padding: 15px;
}
#header {
    border-bottom: 1px solid darkgray;
}
#sider-bar
{   
    background:grey;
    border: 1px solid gray;
    height: 100%;
    border-left: 1px solid goldenrod;
}
.table1{
    width: auto;
    margin: 10px;
}
table{
    width: 100%;

}
#table{
    border: 1px solid gray;
}
table tr:nth-child(even)
{
    background-color: gray;
}
table tr:nth-child(odd){
    background-color:#fff;
}
label {
    margin: 5px;
}
#btn-save {
    border: 1px solid;
    color: darkcyan;
}
#footer{
    height: 50px;
    border-bottom: 1px solid slategrey
}
.container{
    border: 1px solid slategrey;
}
#footer h4{
    line-height: 50px;
    text-align: center;
}